<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Digital Hub</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="/assets/css/main.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script src="https://use.fontawesome.com/f39dbc59ba.js"></script>
  </head>
  <body>

    <!-- Nav -->
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo"><img src="/assets/img/logo.png" alt="Digital Hub"></a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" id="menu">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#about">Acerca de</a></li>
            <li><a href="#pilares">Pilares</a></li>
            <li><a href="#unete">Únete</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="#about" onclick="$('.button-collapse').sideNav('hide');">Acerca De</a></li>
            <li><a href="#pilares" onclick="$('.button-collapse').sideNav('hide');">Pilares</a></li>
            <li><a href="#unete" onclick="$('.button-collapse').sideNav('hide');">Únete</a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="parallax-container">
      <div class="parallax"><img src="/assets/img/img1.jpg"></div>
    </div>

    <!-- About -->

    <div id="about" class="container">
      <div class="center">
        <h1><strong>Somos Digital Hub</strong></h1>
        <hr>
        <p>En el Digital Hub tenemos dos <strong>principales objetivos</strong> para las cuentas institucionales del Tecnológico de Monterrey</p>
        <div class="center row">
          <div class="col m6 s12">
            <i class="fa fa-bullhorn " id="fa-6" aria-hidden="true"></i><br> <strong>Atracción de nuevos prospectos</strong>
          </div>
          <div class="col m6 s12">
            <i class="fa fa-link " id="fa-7" aria-hidden="true"></i><br> <strong>Engagement con nuestras comunidades</strong>
          </div>
        </div>
        <p>Que responden a los pilares de comunicación institucional:</p>
        <div class="row">
          <div class="col s12 m6">
            <div class="card-panel">
              <span class="white-text">Modelo educativo para los retos del mundo actual.
              </span>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card-panel">
              <span class="white-text">Una formación y vivencia con sentido humano.
              </span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6">
            <div class="card-panel">
              <span class="white-text">Vinculación con una sólida comunidad extendida Tec.
              </span>
            </div>
          </div>
          <div class="col s12 m6">
            <div class="card-panel">
              <span class="white-text">Prestigio y reconocimiento de nuestro modelo y egresados.
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="parallax-container">
      <div class="parallax"><img src="https://images.unsplash.com/photo-1432888622747-4eb9a8efeb07?dpr=2&auto=format&fit=crop&w=1500&h=996&q=80&cs=tinysrgb&crop="></div>
    </div>

    <!-- Pilares -->

    <div id="pilares" class="container">
      <h4 class="center"><strong>Nuestros 4 Pilares</strong></h4>
      <hr>
      <div class="row">
        <div class="center col m3 s12">
          <p class="promo-caption center">Social Media Intelligence</p>
          <img src="/assets/img/listening.png" alt="" class="icon responsive-image">
          <p>Escucha y analiza los mensajes que giran alrededor del Tecnológico de Monterrey y sus marcas, generados dentro y fuera de los canales propietarios del Tecnológico de Monterrey (owned and earned).</p>
        </div>
        <div class="center col m3 s12">
          <p class="promo-caption center">Creatividad <br> Digital</p>
          <img src="/assets/img/creatividad.png" alt="" class="icon responsive-image">
          <p>Genera contenido creativo y personalizado para las audiencias meta del Tecnológico de Monterrey, de acuerdo a la estrategia digital.</p>
        </div>
        <div class="center col m3 s12">
          <p class="promo-caption center">Engagement y canales digitales</p>
          <img src="/assets/img/engagement.png" alt="" class="icon responsive-image">
            <p>Distribuye las piezas de contenido personalizado a través de los diferentes canales digitales más apropiados, para cada una de las audiencias, en el momento más preciso.</p>
        </div>
        <div class="center col m3 s12">
          <p class="promo-caption center">Big <br> Data</p>
          <img src="/assets/img/bigdata.png" alt="" class="icon responsive-image">
          <p>Descubre, analiza y explota una gran cantidad de datos que provienen de redes sociales y otras fuentes de información, que nos permitirá crear nuevos servicios para cada institución, toma de decisiones y entre otros proyectos de innovación.</p>
        </div>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="https://images.unsplash.com/photo-1457433575995-8407028a9970?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="></div>
    </div>

    <!-- Join us -->

    <div class="container" id="unete">
      <h4 class="center"><strong>Únete al equipo</strong></h4>
      <hr>
      <p class="center">¿Te gustaría formar parte de nuestro equipo de interns? Llena el siguiente formulario.</p>
      <div class="thanks center"></div>
      <div class="row">
      <form class="col s12" action="/api/intern" enctype="multipart/form-data" method="post">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" name="name" type="text" class="validate">
            <label for="first_name">Nombre Completo</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" name="apellidos" type="text" class="validate">
            <label for="last_name">Apellidos</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="email" name="email" type="email" class="validate">
            <label for="email">Correo</label>
          </div>
          <div class="input-field col s6">
            <input id="semestre" name="semestre" type="number" class="validate">
            <label for="semestre">Semestre</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            <input id="linkedin" name="linkedin" type="text" class="validate">
            <label for="linkedin">Perfil de LinkedIn</label>
          </div>
          <div class="input-field col s6">
            <input id="matricula" name="matricula" type="text" class="validate">
            <label for="matricula">Matrícula</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <select name="area">
              <option value="" >Selecciona una opción</option>
              <option value="Social Media Intelligence">Social Media Intelligence</option>
              <option value="Creatividad Digital">Creatividad Digital</option>
              <option value="Engagement">Engagement y Canales Digitales</option>
              <option value="Big Data">Big Data</option>
            </select>
            <label>Area de interés</label>
          </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
          <textarea id="textarea1" class="materialize-textarea" name="preguntas"></textarea>
          <label for="textarea1">¿Por qué quieres trabajar en Digital Hub?</label>
        </div>
      </div>
      <button class="btn waves-effect waves-light" id="enviar" type="submit" name="action">Enviar
         <i class="material-icons right">send</i>
       </button>
      </form>
    </div>
    </div>

    <!-- Footer -->

    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Digital Hub</h5>
            <p class="grey-text text-lighten-4">Creatividad, estrategia, análisis y estadística.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Mapa del sitio</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#about">Acerca de</a></li>
              <li><a class="grey-text text-lighten-3" href="#pilares">Pilares</a></li>
              <li><a class="grey-text text-lighten-3" href="#">Únete</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
        © 2017 Digital Hub
        </div>
      </div>
    </footer>

    <%# Back to top %>
     <button class="back-to-top btn-floating btn-large waves-effect waves-light blue lighten-1"><i class="material-icons">keyboard_arrow_up</i></button>

    <script src="/assets/js/main.min.js" charset="utf-8"></script>

  </body>
</html>
